.App {
  text-align: center;
}




/* show this cart  */
.cart{
  position: fixed;
  top: 100px;
  right: 20px;
  width: 400px;
  /* max-height: 400px; */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 15px;
  /* overflow-y: auto; */
  height: 100vh;
  z-index: 1000;

}

.array-product{
  width: 90%;
  margin: 0 5%;
  height: 50vh;
  overflow: scroll;
  overflow-x: hidden;

}


.cart-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 90%;
  text-align: left;
}

.btns{
  padding-top: 5rem;
  width: 80%;
  margin:0 10%;
  display:flex;
  align-items: center;
  justify-content:space-between;
}

.btns button{
  padding:6px 14px;
  border-radius: 10px;
}









/* file product  */






.products{
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 10%;
}




.product {
  border: 1px solid #ccc;
  margin-top: 8rem;
  padding: 10px;
  width: 200px;
  text-align: left;
}









/* Navbar for this code  */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  color: white;
  position:fixed;
  /* margin:0 5%; */
  width: 100%;
  /* border-radius: 10px; */
  height: 5rem;
  z-index: 1001;

}
.navbar h1{
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin-left: 2rem;
  color: black;
  text-shadow: 2px 2px 2px darkgray;
}
nav a{
  margin-left: 2rem;
  color: black;
  text-decoration: none;
}
a.active{
  background-color: darkgray;
  padding: 4px 10px ;
  border-radius: 5px;
}


.navbar span:nth-child(1){
  margin-right: 1rem;
  font-size: 1.4rem;
}
.navbar span:nth-child(2){

  background-color: darkred ;
  color: red;
  top:10px;
  position: relative;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: .3rem;
}









